@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --dark: #1F2937;
  --light: #E5E7EB;
  --e-light: #F9FAF8;
  --nilo: #3882F6;
}
body{
  background-color: green;
}

*{
  font-family: 'Nunito', sans-serif;
}

.nav{
  background: url('./assets/t.jpg') no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}

@media screen and (max-width: 768px){
  .nav{
    background-position: 50% 100%;
  }
}
  

.hover-underline-animation {
position: inherit;
}

.hover-underline-animation:hover{
  color: rgb(255, 191, 0);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 0;

  background-color: rgb(255, 221, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

